/* Ensure that the html and body take up the full height */
html,
body,
#root,
.App {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* Set up Flexbox layout */
.App {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.app-header {
  background-color: #333;
  color: #fff;
}

.map-wrapper {
  flex: 1;
}

.leaflet-container {
  height: 100%;
  width: 100%;
}
