.navbar {
  display: flex;
  justify-content: space-between;
  height: 46px;
  background-color: #242d3e;
  color: white;
}

.left {
  display: flex;
}

.title {
  padding-left: 2em;
  padding-right: 2em;
  margin: auto;
}

.search {
  margin: auto;
}

.right {
  display: flex;
  align-items: center;
  padding-right: 2em;
}