.navbar {
  display: flex;
  justify-content: space-between;
  height: 46px;
  background-color: #242d3e;
  color: white;
}

.navbar .left {
  display: flex;
}

.navbar .title {
  padding-left: 2em;
  padding-right: 2em;
  margin: auto;
}

.navbar .left .search {
  margin: auto;
}

.navbar .avatar {
  padding-right: 2em;
  margin-top: auto;
  margin-bottom: auto;
}

.navbar .user-section {
  display: flex;
  align-items: center;
  padding-right: 2em;
}